p{
    color: black;
    text-align: center;
}
h1{
    text-align: center;
    text-decoration-color:powderblue;
}
h2{
    text-align: center;
    text-decoration-color:powderblue;
}
img{
    text-align: center;
}
.card {background-color: pink}